#root.root {--general-margin: 0px;}
#root.root {--tabs-close-btn-margin: 6px;}
#root.root {--nav-btn-height: 32px;}
#root.root {--nav-btn-width: 32px;}
#root.root {--tabs-indent: 15px;}
#root.root {--tabs-margin: 4px;}
#root.root {--tabs-inner-gap: 5px;}
#root.root {--nav-hidden-btn-border-radius: 5px;}
#root.root {--nav-btn-len-margin: 1px;}
#root.root {--nav-btn-margin: 4px;}
#root.root {--nav-btn-border-radius: 30px;}

#root.root {--nav-hidden-panels-popup-margin: 3px;}
:root{
	--tab-body-opacity: 0;
}

.PinnedTabsBar{
 background-color: var(--toolbar-bg);
 max-width: 100%;
}

#root[data-pinned-tabs-position="top"][data-pinned-tabs-list="true"] .PinnedTabsBar{
 padding-top: 5px;
 padding-bottom: 0px;
}

.Tab[data-pin="true"]{
 width: 194px;
}

.Tab[data-pin="true"] > .body{
  opacity: var(--tab-body-opacity);
  transition: opacity 290ms !important;
  transition-delay: 0ms !important;
}

.Tab[data-pin="true"]:hover > .body{
  transition: opacity 290ms !important;
  opacity: var(--tab-body-opacity);
  transition-delay: 0ms !important;
}

.Tab[data-pin="false"] > .body{
  width: var(--tab-body-width);
  transition-delay: 0ms !important;
}

.Tab[data-active="true"] > .body{
 background: var(--accent);
 box-shadow: 0px 0px 5px var(--accent);
}

.NavigationBar .nav-item[data-active="true"]{
 background: var(--accent);
 box-shadow: 0px 0px 5px var(--accent);
}

.NavigationBar .nav-item[data-active="true"]:hover{
 border-radius: 200px;
}

.NavigationBar.-vert{
 padding-left:3px;
 padding-right:3px;
}

.Sidebar:hover{
	--tab-body-opacity: 1;
	--tab-body-width: 100%;
}

.Tab[data-pin="false"] .fav {
	margin: 0 var(--tabs-inner-gap)0 calc(var(--tabs-inner-gap) + 3px);
	z-index: 20;
}

.Tab[data-pin="true"] .fav {
	margin: 0 var(--tabs-inner-gap)0 calc(var(--tabs-inner-gap) + 3px);
	z-index: 20;
}

.TabsPanel .bottom-space {
 background: transparent;
}

.TabsPanel .bottom-bar{
display:none;
}

.Tab .close:hover{
 background-color: var(--accent);
 border-radius:20px;
}

/* remove indent of nested tabs */
#root:not(:hover){
  --tabs-indent: 0;
}

/* hide tab bar splitter */
#root[data-pinned-tabs-position="top"][data-pinned-tabs-list="true"] .PinnedTabsBar::after{
 display: none
}

.ScrollBox{
 padding-top:5px;
	border-radius: 10px 10px 0 0;
	background-color: var(--frame-bg);
}
.panel[data-pos="center"]{
	background-color: var(--toolbar-bg);
}