#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #TabsToolbar > .toolbar-items {
    opacity: 0;
    pointer-events: none;
  }
  #main-window:not([tabsintitlebar="true"]) #TabsToolbar {
      visibility: collapse !important;
  }
    /* Sidebar min and max width removal */
  #sidebar {
    max-width: none !important;
    min-width: 0px !important;
  }

/* Compact Sidebar */
/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/autohide_sidebar.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */
/* Show sidebar only when the cursor is over it  */
/* The border controlling sidebar width will be removed so you'll need to modify these values to change width */

/* Sidebery */
#main-window[titlepreface*=" "] .tabbrowser-tab {
  visibility: collapse !important;
}
 
#main-window[titlepreface*=" "] .titlebar-button {
  height: 40px !important;
}
 
#main-window[titlepreface*=" "] #nav-bar {
  margin-top: -40px;
  margin-right: 137px;
  box-shadow: none !important;
}
#main-window[titlepreface*=" "] #titlebar-spacer {
  background-color: var(--chrome-secondary-background-color);
}
 
#main-window[titlepreface*=" "] #titlebar-buttonbox-container {
  background-color: var(--chrome-secondary-background-color);
}
 
#main-window[titlepreface*=" "] .titlebar-color {
  background-color: var(--toolbar-bgcolor);
}
 
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] #sidebar-header {
  visibility: collapse;
}
 
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] {
  --uc-sidebar-width: 78px !important;
  --uc-sidebar-hover-width: 240px;
  --uc-autohide-sidebar-delay: 3000ms;
  position: relative;
  min-width: var(--uc-sidebar-width) !important;
  width: var(--uc-sidebar-width) !important;
  max-width: var(--uc-sidebar-width) !important;
  z-index:1;
}
 
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] > #sidebar-splitter {
  display: none
}
 
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] > #sidebar {
  transition: min-width 300ms !important;
  min-width: var(--uc-sidebar-width) !important;
  will-change: min-width;
  transition-delay: 0ms !important
}
 
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:hover > #sidebar{
  transition: min-width 300ms !important;
  min-width: var(--uc-sidebar-hover-width) !important;
  transition-delay: 0ms !important
}