#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #TabsToolbar > .toolbar-items {
    opacity: 0;
    pointer-events: none;
  }
  #main-window:not([tabsintitlebar="true"]) #TabsToolbar {
      visibility: collapse !important;
  }
    /* Sidebar min and max width removal */
  #sidebar {
    max-width: none !important;
    min-width: 0px !important;
  }

  /*  
  tab-item.pinned:hover tab-closebox {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
  } */
  
  /* Compact Sidebar tab https://www.reddit.com/r/FirefoxCSS/comments/7emhsq/my_compact_treestyletab_css_and_sidebar_hover/ */
/* Hide border on tab bar, force its state to 'scroll', adjust margin-left for width of scrollbar. */ 
  #tabbar { 
    border: 0; 
    overflow-y: scroll !important; 
    margin-left: -18px !important; 
  }
  
  /* Hide splitter and sidebar header, when using Tree Style Tab. */
  #sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] + #sidebar-splitter {
    display: none !important;
  }
    
  #sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
    visibility: collapse;
  }

  /* Shrink sidebar until hovered, when using Tree Style Tab. */
  #sidebar-box{  
    z-index:1;
  }

  :root {
    --thin-tab-width: 30px;
    --wide-tab-width: 200px;
    
  }

  
  #sidebar-box:not([sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]) {
    min-width: var(--wide-tab-width) !important;
    max-width: none !important;
    
  }
  #sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] {
    position: relative !important;
    transition: all 300ms !important;
    min-width: var(--thin-tab-width) !important;
    max-width: var(--thin-tab-width) !important;
  }
  #sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:hover {
    transition: all 300ms !important;
    min-width: var(--wide-tab-width) !important;
    max-width: var(--wide-tab-width) !important;	
    margin-right: calc((var(--wide-tab-width) - var(--thin-tab-width)) * -1) !important;    
  }


  #sidebar, 
  #sidebar-box, 
  #webextpanels-window, 
  #webext-panels-browser {
      background: var(--primary-dark-color) !important;
  } 

/* Compact Sidebar */
/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/autohide_sidebar.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */
/* Show sidebar only when the cursor is over it  */
/* The border controlling sidebar width will be removed so you'll need to modify these values to change width */


/* Sidebery */
#main-window[titlepreface*=" "] .tabbrowser-tab {
  visibility: collapse !important;
}
 
#main-window[titlepreface*=" "] .titlebar-button {
  height: 40px !important;
}
 
#main-window[titlepreface*=" "] #nav-bar {
  margin-top: -40px;
  margin-right: 137px;
  box-shadow: none !important;
}
#main-window[titlepreface*=" "] #titlebar-spacer {
  background-color: var(--chrome-secondary-background-color);
}
 
#main-window[titlepreface*=" "] #titlebar-buttonbox-container {
  background-color: var(--chrome-secondary-background-color);
}
 
#main-window[titlepreface*=" "] .titlebar-color {
  background-color: var(--toolbar-bgcolor);
}
 
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] #sidebar-header {
  visibility: collapse;
}
 
/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/autohide_sidebar.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */
 
/* Show sidebar only when the cursor is over it  */
/* The border controlling sidebar width will be removed so you'll need to modify these values to change width */
 
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] {
  --uc-sidebar-width: 78px !important;
  --uc-sidebar-hover-width: 240px;
  --uc-autohide-sidebar-delay: 3000ms; /* Wait 0.3s before hiding sidebar */
  position: relative;
  min-width: var(--uc-sidebar-width) !important;
  width: var(--uc-sidebar-width) !important;
  max-width: var(--uc-sidebar-width) !important;
  z-index:1;
}
 
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] > #sidebar-splitter {
  display: none
}
 
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] > #sidebar {
  transition: min-width 300ms !important;
  min-width: var(--uc-sidebar-width) !important;
  will-change: min-width;
  transition-delay: 0ms !important
}
 
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:hover > #sidebar{
  transition: min-width 300ms !important;
  min-width: var(--uc-sidebar-hover-width) !important;
  transition-delay: 0ms !important
}
 
/* Add sidebar divider and give it background */
 
//#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] > #sidebar,
//#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] > #sidebar-header {
//  background-color: var(--toolbar-bgcolor) !important;
///*  border-inline: 1px solid var(--sidebar-border-color) !important;*/
//  border-inline: 1px solid var(--chrome-content-separator-color) !important;
//  border-inline-width: 0px 1px;
//}
//#sidebar-box[positionend]{
//  direction: rtl
//}
//#sidebar-box[positionend] > *{
//  direction: ltr
//}
// 
//#sidebar-box[positionend]:-moz-locale-dir(rtl){
//  direction: ltr
//}
//#sidebar-box[positionend]:-moz-locale-dir(rtl) > *{
//  direction: rtl
//}